<%# navigation styled for Bootstrap 4.0 %>
<div class="container">
  <ul class="nav justify-content-left">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="/">HomePage</a>
      </li>
    </ul>
  </ul>
</div>
</br>